"

<script type="text/javascript">
	var message = "";
	var oneAppYn = "";

	
	
	
	
	
	
	
	
	
	

		location.href="https://auth.worksmobile.com/oauth2/v2.0/authorize?client_id=CEiHmXiEc3RQP8ZGcVBN&redirect_uri=http://localhost:8080&scope=audit,audit.read,board,board.read,bot,bot.read,calendar,calendar.read,contact,contact.read,directory,directory.read,file,file.read,group,group.folder,group.folder.read,group.read,mail,mail.read,orgunit,orgunit.read,security.external-browser,security.external-browser.read,user,user.email.read,user.profile.read,user.read&response_type=code&state=test&domain=aekyung.kr&isRefreshed=true";
	

</script>
"