$dodger_blue: #3bb1ff;
$input_active: #bcbcbc;
$main_blue: rgba(167, 176, 251, 0.2);
$white_blur: rgba(255, 255, 255, 0.6);
$yellow_blur: rgba(255, 238, 194, 0.4);
$green_blur: rgba(219, 244, 243, 0.7);
$text_blue: #014381;
$salmon: #ef8181;
$gray: #8a8a8a;
$dark_gray: #555555;
