.blue-box {
  display: flex;
  padding: 18px;
  border-radius: 10px;
  background-color: $main_blue;
}

.white-box {
  display: flex;
  padding: 18px;
  border-radius: 10px;
  background-color: $white_blur;
}
